<!DOCTYPE html>
<html>
  <head>
    <title>Express Answers</title>
    <link href="https://fonts.googleapis.com/css?family=New+Rocker" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
<h4><a href="/">Home</a> |
  <a href="/questions">All Questions</a> |
  <a href="/questions/new">New Question</a></h4>
    <hr>
  </nav>
  <body>
